*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    color: #000;
    overflow-y: hidden;
}

#barraHerramientas{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c3e50;
    width: 100vw;
    height: 5vh;
}

#barraHerramientas.boton{
    width: 100%;
    height: 95%;
}

#app{
    width: 100vw;
    height: 95vh;
    background: #2c3e50;
}
